.input {
  font: inherit;
  letter-spacing: inherit;
  padding: 4px 0 5px;
  border: 0;
  box-sizing: content-box;
  background: none;
  height: 1.5em;
  margin: 0;
  display: block;
  width: 100%;
  outline: none;
  flex: 1;
}