.icon {
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
}

.text {
  margin-top: 15px;
  font-family: cursive;
  font-size: 32px;
  text-align: center;
}

.button {
  display: block;
  width: 220px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(25 118 210);
  border-radius: 4px;
}

.link {
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
}

.grid {
  display: grid;
}

.helper-text {
  margin: 3px 14px 0;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  color: rgb(0 0 0 / 60%);
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.0333em;
  line-height: 1.66;
  text-align: left;
}

.input {
  width: 220px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.loading {
  margin-top: 80px;
  margin-bottom: 80px;
}

.hidden {
  height: 0;
  visibility: hidden;
}

.none {
  display: none;
}
