.player {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #23232d;
  color: white;
}

.controls {
  display: flex;
  height: 100%;
  padding-right: 30px;
  padding-left: 30px;
}

.volume {
  display: flex;
  width: 150px;
  flex-direction: row;
  align-items: center;
  padding-right: 30px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.page-increase {
  width: 100%;
  height: 80px;
}

.cover-image {
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 8px;
  margin: 0;
  margin-top: auto;
  margin-bottom: auto;
  object-fit: cover;
}

.indicator {
  width: 100%;
  height: 4px;
  align-self: center;
  border-radius: 4px;
}

.time-thumb {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(146 125 125);
  box-shadow: 0 2px 12px 0 rgb(255 255 255 / 40%);
  outline: 0;
}

.valume-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 40%);
  outline: 0;
}

.track {
  width: 600px;
  padding-right: 30px;
  padding-left: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.timebar {
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
  color: gray;
  font-size: small;
}

.line {
  display: flex;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.music-info {
  overflow: hidden;
  max-width: 510px;
  margin: auto 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.album {
  margin: 0;
  color: var(--text-secondary);
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.0333em;
  line-height: 1.66;
}

.name {
  font-size: 1rem;
  letter-spacing: 0.0094em;
  line-height: 1.5;
}